<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
{% include header.html %}

<!-- One -->
<section id="one" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/bilgisen1.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Biz kimiz?</h2>
			</header>
			<p>Bilgisen Teknoloji ekibi, internet yayıncılığı alanında 20 yılı aşkın deneyime sahip. Siz sadece isteyin ıhtiyacınıza en uygun internet çözümlerini geliştirelim. Tasarımdan, kodlamaya, içerikten, tanıtıma bütün ihtiyaçlarınızı tek çatı altında hayata geçirelim. Tamamen şeffaf üretim ve geliştirme sürecimizi anlık olarak takip edin. </p>
		</div>
		<a href="#two" class="goto-next scrolly">Sonraki</a>
	</div>
</section>

<!-- Two -->
<section id="two" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic02.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Hizmetlerimiz</h2>
			</header>
			<p>Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet vulputate.</p>
			<ul class="icons-grid">
				<li>
					<span class="icon major fa-camera-retro"></span>
					<h3>Tasarım</h3>
				</li>
				<li>
					<span class="icon major fa-pencil"></span>
					<h3>Programlama</h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3>İçerik üretimi</h3>
				</li>
				<li>
					<span class="icon major fa-coffee"></span>
					<h3>Tanıtım</h3>
				</li>
			</ul>
		</div>
		<a href="#three" class="goto-next scrolly">Sonraki</a>
	</div>
</section>

<!-- Three -->
<section id="three" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic03.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Kahvemizi içmeye bekleriz.</h2>
			</header>
			<p> Aşağıdaki iletişim formunu doldurarak bize hemen ulaşabilirsiniz. Buyrun ofisimizde bir kahvemizi için bu arada sizin için neler yapabileceğimizi anlatalım. Dilerseniz arkadaşlarımız sizi ziyaret etsin birlikte yol haritası çıkaralım. </p>
			<center><img src="assets/images/kahve.jpg" alt="" /></center>
		</div>
		<a href="#footer" class="goto-next scrolly">Sonraki</a>
	</div>
</section>

{% include footer.html %}

</body>
</html>
